{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
body {
    background: #f4f6f9;
    font-family: Arial;
}

.sidebar {
    background: linear-gradient(180deg, #c0392b, #e74c3c);
    min-height: 100vh;
    color: white;
    padding: 20px;
}

.profile-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid white;
    object-fit: cover;
}

.menu-item {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-item:hover {
    background: rgba(255,255,255,0.2);
}

.menu-item.active {
    background: rgba(255,255,255,0.3);
    font-weight: bold;
}

.card-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}
</style>

<div class="container-fluid">
<div class="row">

<!-- SIDEBAR -->
<div class="col-md-3 sidebar text-center">
    <img src="{{ donneur.photo.url|default:'/static/images/defaultt.jpg' }}" class="profile-img">
    <h5>MR/Mme {{ donneur.user.username }}</h5>
    <hr>

    <div class="menu-item active" onclick="showSection(event,'home')">🏠 Accueil</div>
    <div class="menu-item" onclick="showSection(event,'personal')">👤 Données personnelles</div>
    <div class="menu-item" onclick="showSection(event,'medical')">📄 Dossier médical</div>
    <div class="menu-item" onclick="showSection(event,'eligibility')">📄 Éligibilité</div>
    <div class="menu-item" onclick="showSection(event,'history')">📜 Historique</div>
    <div class="menu-item" onclick="showSection(event,'alerts')">🚨 Appels urgents</div>
    <div class="menu-item" onclick="showSection(event,'campagnes')">
    🏥 Participer à une campagne</div>
<div class="menu-item" onclick="showSection(event,'campagne_history')">
📊 Historique campagnes
</div>
</div>

<!-- CONTENT -->
<div class="col-md-9 p-4">

<!-- HOME -->
<div id="home" class="card-box section mb-3">
    <h4>👋 Bonjour Mr/Mme {{ donneur.user.username }}</h4>
    <hr>
    <h5>🔔 Notifications récentes</h5>
{% for r in rappels %}
    <div class="alert alert-warning">

        ⏰ Rappel : Vous participez demain à la campagne
        <b>{{ r.creneau.campagne.nom }}</b>

        <br>

        📅 {{ r.creneau.campagne.date }}
        |
        ⏰ {{ r.creneau.heure_debut }}

    </div>
{% endfor %}
{% for n in notifications %}
    <div class="alert 
        {% if n.type == 'campagne' %}alert-danger
        {% elif n.type == 'creneau' %}alert-warning
        {% else %}alert-info{% endif %}">
        
        {{ n.message }}
        <br>
        <small class="text-muted">{{ n.date }}</small>
    </div>

{% empty %}
    <p class="text-muted">Aucune notification récente</p>
{% endfor %}
<hr

    {% if dernier_don %}
        <p>🩸 Dernier don : <b>{{ dernier_don.date_don }}</b></p>
        <p>📅 Prochain don possible : <b>{{ prochain_don }}</b></p>
    {% else %}
        <p class="text-muted">Vous n’avez pas encore effectué de don</p>
    {% endif %}

    <hr>

    {% if is_eligible %}
    <span class="badge bg-success">
        Eligible
    </span>
{% else %}
    <span class="badge bg-danger">
        Non éligible
    </span>

    <small class="text-muted">
        {{ eligibility_reason }}
    </small>
{% endif %}

    <p>🚨 Appels urgents disponibles : <b>{{ appels_compatibles|length }}</b></p>
</div>

<!-- PERSONAL -->
<div id="personal" class="card-box section mb-3" style="display:none;">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">👤 Données personnelles</h4>

        <a href="{% url 'edit_donneur' %}" class="btn btn-sm btn-outline-primary">
            ✏️ Modifier
        </a>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6 mb-2">
            <strong>Nom :</strong><br>
            {{ donneur.user.username }}
        </div>

        <div class="col-md-6 mb-2">
            <strong>Email :</strong><br>
            {{ donneur.user.email }}
        </div>

        <div class="col-md-6 mb-2">
            <strong>Ville :</strong><br>
            {{ donneur.ville }}
        </div>

        <div class="col-md-6 mb-2">
            <strong>Groupe sanguin :</strong><br>
            <span class="badge bg-danger">
                {{ donneur.groupe_sanguin }}
            </span>
        </div>

        <div class="col-md-6 mb-2">
            <strong>Sexe :</strong><br>
            {{ donneur.sexe }}
        </div>
    </div>
</div>
<!-- MEDICAL -->
<div id="medical" class="card-box section mb-3" style="display:none;">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">📄 Dossier médical</h4>

        <a href="{% url 'edit_medical' %}" class="btn btn-sm btn-outline-danger">
            ✏️ Modifier
        </a>
    </div>

    <hr>

    {% if medical %}

        <div class="row">

            <div class="col-md-6 mb-2">
                <strong>Poids :</strong><br>
                {{ medical.poids }} kg
            </div>

            <div class="col-md-6 mb-2">
                <strong>Tension :</strong><br>
                <span class="{% if medical.a_tension %}text-danger{% else %}text-success{% endif %}">
                    {% if medical.a_tension %}❌ Oui{% else %}✔ Non{% endif %}
                </span>
            </div>

            <div class="col-md-6 mb-2">
                <strong>Diabète :</strong><br>
                <span class="{% if medical.diabete %}text-danger{% else %}text-success{% endif %}">
                    {% if medical.diabete %}❌ Oui{% else %}✔ Non{% endif %}
                </span>
            </div>

            <div class="col-md-6 mb-2">
                <strong>Anémie :</strong><br>
                <span class="{% if medical.anemie %}text-danger{% else %}text-success{% endif %}">
                    {% if medical.anemie %}❌ Oui{% else %}✔ Non{% endif %}
                </span>
            </div>

            <div class="col-md-6 mb-2">
                <strong>Maladie sanguine :</strong><br>
                <span class="{% if medical.maladie_sanguine %}text-danger{% else %}text-success{% endif %}">
                    {% if medical.maladie_sanguine %}❌ Oui{% else %}✔ Non{% endif %}
                </span>
            </div>

            <div class="col-md-6 mb-2">
                <strong>Apte au don :</strong><br>
                <span class="{% if is_eligible %}text-success{% else %}text-danger{% endif %}">
                    {% if is_eligible %}✔ Oui{% else %}❌ Non{% endif %}
                </span>
            </div>

        </div>

    {% else %}

        <p class="text-muted">Aucun dossier médical disponible</p>

        <a href="{% url 'edit_medical' %}" class="btn btn-danger btn-sm">
            ➕ Ajouter dossier médical
        </a>

    {% endif %}

</div>

<!-- ELIGIBILITY -->
<div id="eligibility" class="card-box section mb-3" style="display:none;">
    <h4>📄 Éligibilité</h4>

    {% if is_eligible %}
        <div class="alert alert-success">✔ Éligible</div>
    {% else %}
        <div class="alert alert-warning">⏳ Non éligible</div>
    {% endif %}
</div>

<!-- HISTORY -->
<div id="history" class="card-box section mb-3" style="display:none;">
    <h4>📜 Historique des dons</h4>
    <!-- ADD DON -->
    <div class="card-box mb-3 text-center">
    {% if is_eligible %}

        <a href="{% url 'dons:ajouter_don' %}" 
           class="btn btn-danger btn-lg">
            ➕ Ajouter un don
        </a>

    {% else %}

        <button class="btn btn-secondary btn-lg" disabled>
            ❌ Don non autorisé
        </button>

        <p class="text-muted mt-2">
            {{ eligibility_reason }}
        </p>

    {% endif %}
    </div>
    <br>
    <h3>Dons effectués</h3>
    {% for don in historique_dons %}
        <div class="card p-2 mb-2">
            📅 {{ don.date_don }} - 🏥 {{ don.hopital.nom }}
            
        </div>
    {% empty %}
        <p class="text-muted">Aucun don enregistré</p>
    {% endfor %}
</div>

<!-- ALERTS -->
<div id="alerts" class="card-box section mb-3" style="display:none;">
    <h4>🚨 Appels urgents compatibles</h4>

    {% for appel in appels_compatibles %}
        <div class="card p-2 mb-2">
            
            <b>hopital : {{ appel.hopital }}</b> 
            {{ appel.description }}<br>
            {{ appel.quantite }} poches
            


            <p class="text-muted">⏳ Délai: {{ appel.delai }}</p>

            {% if is_eligible %}
                <a href="{% url 'demandes:repondre' appel.id %}" class="btn btn-danger btn-sm float-end">
                    Répondre
                </a>
            {% endif %}
        </div>
    {% empty %}
        <p class="text-muted">Aucun appel urgent</p>
    {% endfor %}
</div>


<!-- CAMPAGNES -->
<div id="campagnes" class="card-box section mb-3" style="display:none;">

    <h4>🏥 Campagnes disponibles</h4>

    {% for c in campagnes %}

        <div class="card p-3 mb-3 shadow-sm">

            <h5>🏥 {{ c.nom }}</h5>
    

            <p>📅 {{ c.date }} | 📍 {{ c.lieu }} | {{ c.hopital }}</p></p> 
            
            <p>🩸 Groupes: {{ c.groupes_cibles }}</p>

            <hr>

            <h6>⏱ Créneaux :</h6>

            {% for cr in c.creneaux.all %}

                <div class="border rounded p-2 mb-2">

                    <span>
                        {{ cr.heure_debut }} - {{ cr.heure_fin }} 
                    </span>

                    <span class="badge bg-info">
                        👥 {{ cr.capacite }} places
                    </span>

                    {% if not cr.est_complet %}

                        <a href="{% url 'campagnes:inscription_creneau' cr.id %}"
                           class="btn btn-danger btn-sm float-end">
                            S'inscrire
                        </a>

                    {% else %}

                        <span class="text-danger float-end">
                            Complet
                        </span>

                    {% endif %}

                </div>

            {% empty %}
                <p class="text-muted">Aucun créneau</p>
            {% endfor %}

        </div>

    {% empty %}
        <p class="text-muted">Aucune campagne disponible</p>
    {% endfor %}
<!--participation campagnes-->
</div>
<div id="campagne_history" class="card-box section mb-3" style="display:none;">
    <h4>🏥 Historique des participations aux campagnes</h4>

    {% for p in participations %}
        <div class="card p-2 mb-2">
            🏥 {{ p.creneau.campagne.nom }} <br>
            📅 {{ p.creneau.campagne.date }} <br>
            ⏰ {{ p.creneau.heure_debut }} - {{ p.creneau.heure_fin }}
        
            {% if p.creneau.campagne.date >= date_today %}
                <a href="{% url 'campagnes:annuler_participation' p.id %}"
                    class="btn btn-warning btn-sm">
                    ❌ Annuler
    </a></div>
{% endif %}
    {% empty %}
        <p class="text-muted">Aucune participation</p>
    {% endfor %}
</div>

</div>
</div>
</div>

<script>
function showSection(event, id) {
    document.querySelectorAll('.section').forEach(sec => sec.style.display = "none");

    document.querySelectorAll('.menu-item').forEach(item => {
        item.classList.remove('active');
    });

    document.getElementById(id).style.display = "block";

    if (event) event.currentTarget.classList.add('active');
}

document.addEventListener("DOMContentLoaded", function () {
    showSection(null, "home");
});
</script>

{% endblock %}