{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
body {
    background: #f4f6f9;
    font-family: Arial;
}

.sidebar {
    background: linear-gradient(180deg, #c0392b, #e74c3c);
    min-height: 100vh;
    color: white;
    padding: 20px;
}

.profile-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid white;
    object-fit: cover;
}

.menu-item {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    cursor: pointer;
}

.menu-item:hover {
    background: rgba(255,255,255,0.2);
}

.menu-item.active {
    background: rgba(255,255,255,0.3);
    font-weight: bold;
}

.card-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
}
</style>

<div class="container-fluid">
<div class="row">

<!-- SIDEBAR -->
<div class="col-md-3 sidebar text-center">

    <img src="{{ hopital.photo.url|default:'/static/images/defaulthopital.png' }}"
         class="profile-img">

    <h5>{{ hopital.nom }}</h5>
    <hr>

    <div class="menu-item active" onclick="showSection(event,'home')">🏠 Accueil</div>
    <div class="menu-item" onclick="showSection(event,'demandes')">📄 Demandes</div>
    <div class="menu-item" onclick="showSection(event,'campagnes')">📢 Campagnes</div>

</div>

<!-- CONTENT -->
<div class="col-md-9 p-4">

<!-- HOME -->
<div id="home" class="card-box section mb-3">

    <h4>👋 Espace hôpital {{ hopital.user.username }}</h4>

    <p>📍 {{ hopital.ville }}</p>
    <p>🆔 {{ hopital.agrement }}</p>

    <hr>
    {% if not hopital.valide %}
<div class="alert alert-warning">
    ⏳ Votre compte est en attente de validation admin
</div>
{% endif %}

    <div class="row">
        <div class="col-md-6">
            <h5>📄 Demandes</h5>
            <h2>{{ demandes_publiees|length }}</h2>
        </div>

        <div class="col-md-6">
            <h5>📢 Campagnes</h5>
            <h2>{{ campagnes|length }}</h2>
        </div>
    </div>

</div>

<!-- DEMANDES -->
<!-- DEMANDES -->
<div id="demandes" class="card-box section mb-3" style="display:none;">

    <h4>📄 Demandes urgentes</h4>

    <a href="{% url 'demandes:creer_demande' %}" class="btn btn-danger btn-sm mb-3">
        ➕ Nouvelle demande
    </a>

    <div class="row">

        {% for demande in demandes_publiees %}

            <div class="col-md-4 mt-3">

                <div style="
                    background:white;
                    padding:15px;
                    border-radius:12px;
                    box-shadow:0 4px 10px rgba(0,0,0,0.1);
                    height:100%;
                    border-top:4px solid #e74c3c;
                ">

                    <h5 style="color:#c0392b;">
                        🩸 {{ demande.groupe_sanguin }}
                    </h5>

                    <p>📝 {{ demande.description }}</p>
                    <p>📦 Quantité : {{ demande.quantite }} poches</p>
                    <p>📅 Délai : {{ demande.delai }}</p>

                    <span class="badge bg-danger">
                        {{ demande.statut }}
                    </span>

                    <hr>

                    <div class="d-flex justify-content-end gap-2">

                        <a href="{% url 'demandes:modifier' demande.id %}"
                           class="btn btn-warning btn-sm">
                            ✏
                        </a>

                        {% if demande.statut != "Clôturé" %}
                            <a href="{% url 'demandes:cloturer' demande.id %}"
                               class="btn btn-dark btn-sm">
                                🔒
                            </a>
                        {% endif %}

                        {% if demande.statut == "Clôturé" and demande.delai >= today %}
                            <a href="{% url 'demandes:reouvrir' demande.id %}"
                               class="btn btn-success btn-sm">
                                🔓
                            </a>
                        {% endif %}
                        <a href="{% url 'demandes:donneurs_repondus' demande.id %}"
                        class="btn btn-info btn-sm">
                        👥 Réponses
                        </a>

                    </div>

                </div>

            </div>

        {% empty %}

            <p>Aucune demande trouvée</p>

        {% endfor %}

    </div>

</div>

<!-- 📢 CAMPAGNES -->
<div id="campagnes" class="section mb-3" style="display:none;">

    <h4 class="mb-3">📢 Mes campagnes</h4>

    <a href="{% url 'campagnes:creer_campagne' %}"
       class="btn btn-success btn-sm mb-3">
        ➕ Nouvelle campagne
    </a>

    <div class="row">

        {% for c in campagnes %}

            <!-- CARD CAMPAGNE -->
            <div class="col-md-6 mb-3">

                <div class="card shadow-sm border-0 h-100">

                    <!-- HEADER -->
                    <div class="card-header bg-danger text-white d-flex justify-content-between align-items-center">

                        <strong>{{ c.nom }}</strong>

                        <a href="{% url 'campagnes:annuler_campagne' c.id %}"
                           class="btn btn-dark btn-sm"
                           onclick="return confirm('Annuler cette campagne ?')">
                            🚨 Annuler
                        </a>

                    </div>

                    <!-- BODY -->
                    <div class="card-body">

                        <p>📅 <b>{{ c.date }}</b></p>
                        <p>📍 {{ c.lieu }}</p>
                        
                        <p>🩸 capacite : {{ c.capacite_total }}</p>

                        <hr>

                        <h6>⏱ Créneaux :</h6>

                        {% for cr in c.creneaux.all %}

                            <div class="border rounded p-2 mb-2 bg-light">

                                🕒 {{ cr.heure_debut }} - {{ cr.heure_fin }}<br>

                                👥 {{ cr.capacite }} places

                                {% if cr.est_complet %}
                                    <span class="badge bg-danger float-end">Complet</span>
                                {% else %}
                                    <span class="badge bg-success float-end">
                                        {{ cr.places_restantes }}
                                    </span>
                                {% endif %}

                                <div class="mt-2">

                                    <a href="{% url 'campagnes:annuler_creneau' cr.id %}"
                                       class="btn btn-danger btn-sm"
                                       onclick="return confirm('Annuler ce créneau ?')">
                                        ❌ Annuler
                                    </a>
                                    <a href="{% url 'campagnes:participants_creneau' cr.id %}"
                                        class="btn btn-info btn-sm mt-2">
                                        👥 Voir participants
                                    </a>

                                </div>

                            </div>

                        {% empty %}
                            <p class="text-muted">Aucun créneau</p>
                        {% endfor %}

                        <a href="{% url 'campagnes:ajouter_creneau' c.id %}"
                           class="btn btn-primary btn-sm mt-2">
                            ➕ Ajouter créneau
                        </a>

                    </div>

                </div>

            </div>

        {% empty %}
            <p class="text-muted">Aucune campagne disponible</p>
        {% endfor %}

    </div>

</div>

</div>
</div>
</div>

<script>
function showSection(event, id) {
    document.querySelectorAll('.section').forEach(s => s.style.display = "none");
    document.querySelectorAll('.menu-item').forEach(m => m.classList.remove('active'));

    document.getElementById(id).style.display = "block";

    if (event) event.currentTarget.classList.add('active');
}

document.addEventListener("DOMContentLoaded", () => showSection(null,'home'));
</script>

{% endblock %}