{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 d-flex justify-content-center">

    <div class="card shadow border-0 p-4" style="max-width: 450px; width: 100%; border-radius: 15px;">

        <!-- TITLE -->
        <h2 class="text-center text-danger mb-4">
            🩸 Connexion
        </h2>

        <!-- FORM -->
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.as_p }}
            </div>

            <!-- BUTTON -->
            <button class="btn w-100 text-white"
                    style="background-color:#dc3545; border-radius: 50px; padding:10px;">
                Se connecter
            </button>

        </form>

    </div>

</div>

{% endblock %}