{% extends 'base.html' %}
{% block content %}

<style>
.auth-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:90vh;
}

.auth-card{
    background:#fff;
    padding:30px;
    border-radius:15px;
    width:100%;
    max-width:520px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.auth-title{
    text-align:center;
    color:#c0392b;
    margin-bottom:20px;
    font-weight:bold;
}

.form-check{
    margin:5px 0;
}

.btn-red{
    background:linear-gradient(180deg,#c0392b,#e74c3c);
    color:white;
    border:none;
    width:100%;
    padding:10px;
    border-radius:30px;
}
</style>

<div class="auth-wrapper">

    <div class="auth-card">

        {% if edit_mode %}
    <h2>✏ Modifier dossier médical</h2>
{% else %}
    <h2>📄 Dossier médical</h2>
{% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="mb-2">
                <label>Poids</label>
                {{ form.poids }}
            </div>

            <div class="form-check">
                {{ form.a_tension }} Tension
            </div>

            <div class="form-check">
                {{ form.diabete }} Diabète
            </div>

            <div class="form-check">
                {{ form.anemie }} Anémie
            </div>

            <div class="form-check mb-3">
                {{ form.maladie_sanguine }} Maladie sanguine
            </div>

            <button class="btn-red">
                Terminer inscription
            </button>

        </form>

    </div>

</div>

{% endblock %}