{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Mes campagnes</h2>

    {% if campagnes %}
        <ul class="list-group mt-3">
            {% for campagne in campagnes %}
                <li class="list-group-item">
                    <strong>{{ campagne.nom }}</strong><br>
                    📍 {{ campagne.lieu }}<br>
                    📅 {{ campagne.date }}<br>
                    🩸 {{ campagne.groupes_cibles }}<br>
                    👥 Capacité: {{ campagne.capacite_totale }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="mt-3">Aucune campagne pour le moment 😢</p>
    {% endif %}
</div>
{% endblock %}